.merging-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr 2fr 1fr;
  padding-top: 20px;

  margin: auto;
  width: 60vw;
  min-width: 300px;
}
.array-one {
  grid-column: 1;
  grid-row: 1;
  padding-left: 30px;
}
.array-two {
  grid-column: 1;
  grid-row: 2;
  padding-left: 30px;
}
.merged-array {
  grid-column: 1;
  grid-row: 3/4;
  padding-left: 30px;
}
.array-one-items {
  grid-column: 2/3;
  grid-row: 1;
  padding-right: 30px;
}
.array-two-items {
  grid-column: 2/3;
  grid-row: 2;
  padding-right: 30px;
}
.merged-array-items {
  grid-column: 2/3;
  grid-row: 3/4;
  padding-right: 30px;
}
.btn-merge {
  grid-column: 2/3;
  grid-row: 5;
  justify-items: center;
}
.array-item {
  display: inline-block;
  width: 20px;
  margin: 0 1px;
  border: 1px solid black;
}
